.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px;
}

.imageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 261px;
}

.badgeImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 8px;
  }

  .imageWrap {
    width: 168px;
    height: 140px;
  }
}
